{% extends 'base.html.twig' %}

{% block title %}Timeslot index{% endblock %}

{% block body %}

    <h2 class="h2">Timeslot List</h2>
    <p class="lead my-3">
        List of timeslots for plan {{ plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_dashboard', {'id': plan.id}) }}"> Back To Dashboard</a>
        <a class="btn btn-primary float-right mr-3" href="{{ path('timeslot_new', {'plan': plan.id}) }}">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for timeslot in timeslots %}
            <tr>
                <td>{{ timeslot.id }}</td>
                <td>{{ timeslot.start ? timeslot.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ timeslot.end ? timeslot.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('timeslot_edit', {'id': timeslot.id}) }}">Edit</a>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('timeslot_show', {'id': timeslot.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
