{% extends 'base.html.twig' %}

{% block title %}Timeslot{% endblock %}

{% block body %}

    <h3 class="h3">Timeslot</h3>
    <p class="lead my-3">
        Timeslot {{ timeslot }} details
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('timeslot_index', {'plan': timeslot.plan.id}) }}">Back To List</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timeslot.id }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ timeslot.start ? timeslot.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ timeslot.end ? timeslot.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
