{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block body %}

    <h3 class="h3">Schedule</h3>
    <p class="lead my-3">
        Schedule <i>{{ schedule }}</i> generated for plan <i>{{ schedule.plan }}</i>
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('schedule_index', {'plan': schedule.plan.id}) }}">Back To List</a>
    </div>

    <table class="table table-bordered table-hover" style="overflow: auto; height: 100px;">
        <tr>
            <th scope="col"></th>
            {% for room in rooms %}
                <th scope="col" class="text-center" style="position: sticky; top: 0; z-index: 1; background-color: #FFFFFF";>
                    {{ room.name }}
                </th>
            {% endfor %}
        </tr>

        {% for key, row in events %}
            <tr>

                <th scope="row" style="max-width: 115px">{{ timeslots[key].start | date("d.m.Y l H:i", false) }}</th>

                {% for col in row %}
                    {% if col is not null %}
                        <td style="background-color: {{ col.event.subject.color }}">
                            <b>{{ col.event.subject.name }}</b><br/>
                            {{ col.event.subject.studentGroup.name }}<br/>
{#                            {{ col.event.subject.teacher.name }}#}
                            Prowadzący #{{ col.event.subject.teacher.id }}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}