{% extends 'base.html.twig' %}

{% block title %}Plan List{% endblock %}

{% block body %}

    <h2 class="h2">Plan List</h2>
    <p class="lead my-3">
        List of your plans
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('main') }}">Back to Homepage</a>
        <a class="btn btn-primary float-right mr-3" href="{{ path('plan_new') }}">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.name }}</td>
                <td>{{ plan.status }}</td>
                <td>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('plan_dashboard', {'id': plan.id}) }}">Dashboard</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
