{% extends 'base.html.twig' %}

{% block title %}Plan list{% endblock %}

{% block body %}

    <h1 class="h1 my-3">Plan list</h1>
    <p class="lead my-3">
        List of your plans
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_new') }}">Create new</a>
    </div>

    <div class="my-3">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.name }}</td>
                <td>{{ plan.status }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('plan_dashboard', {'id': plan.id}) }}">Dashboard</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
