{% extends 'base.html.twig' %}

{% block title %}Room List{% endblock %}

{% block body %}

    <h3 class="h3">Room List</h3>
    <p class="lead my-3">
        List of rooms for plan {{ plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_dashboard', {'id': plan.id}) }}"> Back To Dashboard</a>
        <a class="btn btn-primary float-right mr-3" href="{{ path('room_new', {'plan': plan.id}) }}">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Features</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <td>
                    {% for feature in room.features %}
                        {{ feature }},
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('room_edit', {'id': room.id}) }}">Edit</a>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('room_show', {'id': room.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
