{% extends 'base.html.twig' %}

{% block title %}Student group List{% endblock %}

{% block body %}

    <h3 class="h3">Student group List</h3>
    <p class="lead my-3">
        List of student groups for plan {{ plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_dashboard', {'id': plan.id}) }}"> Back To Dashboard</a>
        <a class="btn btn-primary float-right mr-3" href="{{ path('student_group_new', {'plan': plan.id}) }}">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cardinality</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for student_group in student_groups %}
            <tr>
                <td>{{ student_group.id }}</td>
                <td>{{ student_group.name }}</td>
                <td>{{ student_group.cardinality }}</td>
                <td>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('student_group_edit', {'id': student_group.id}) }}">Edit</a>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('student_group_show', {'id': student_group.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
