{% extends 'base.html.twig' %}

{% block title %}StudentGroup index{% endblock %}

{% block body %}
    <h1>StudentGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cardinality</th>
                <th>Map_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_group in student_groups %}
            <tr>
                <td>{{ student_group.id }}</td>
                <td>{{ student_group.name }}</td>
                <td>{{ student_group.cardinality }}</td>
                <td>{{ student_group.mapId }}</td>
                <td>
                    <a href="{{ path('student_group_show', {'id': student_group.id}) }}">show</a>
                    <a href="{{ path('student_group_edit', {'id': student_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_group_new', {'plan': plan.id}) }}">Create new</a>
{% endblock %}
