{% extends 'base.html.twig' %}

{% block title %}Student Group{% endblock %}

{% block body %}

    <h1 class="h1">Student Group</h1>
    <p class="lead my-3">
        Student Group {{ student_group }} details
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('student_group_index', {'plan': student_group.plan.id}) }}">Back To List</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ student_group.name }}</td>
            </tr>
            <tr>
                <th>Cardinality</th>
                <td>{{ student_group.cardinality }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>{{ student_group.parent }}</td>
            </tr>
            <tr>
                <th>Student Groups intersected</th>
                <td>
                    {% for intersection in student_group.studentGroupsIntersected %}
                        {{ intersection }},
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
