{% extends 'base.html.twig' %}

{% block title %}{% trans %}Subject List{% endtrans %}{% endblock %}

{% block body %}

    <h3 class="h3">Subject List</h3>
    <p class="lead my-3">
        List of subjects for plan {{ plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_dashboard', {'id': plan.id}) }}"> Back To Dashboard</a>
        <a class="btn btn-primary float-right mr-3" href="{{ path('subject_new', {'plan': plan.id}) }}">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Student Group</th>
                <th>Teacher</th>
                <th>Hours</th>
                <th>Block Size</th>
                <th>Color</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.studentGroup }}</td>
                <td>{{ subject.teacher }}</td>
                <td>{{ subject.hours }}</td>
                <td>{{ subject.blockSize }}</td>
                <td>
                    <div class="text-center rounded" style="background-color: {{ subject.color }}; min-width: 45px">
                        {{ subject.color|upper }}
                    </div>
                </td>
                <td>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('subject_edit', {'id': subject.id}) }}">Edit</a>
                    <a class="btn btn-primary float-right mx-1" href="{{ path('subject_show', {'id': subject.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
