{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}

    <h2 class="h2">Subject</h2>
    <p class="lead my-3">
        Subject {{ subject }} details
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('subject_index', {'plan': subject.plan.id}) }}">Back To List</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ subject.name }}</td>
            </tr>
            <tr>
                <th>Teacher</th>
                <td>{{ subject.teacher }}</td>
            </tr>
            <tr>
                <th>Student Group</th>
                <td>{{ subject.studentGroup }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ subject.hours }}</td>
            </tr>
            <tr>
                <th>Block Size</th>
                <td>{{ subject.blockSize }}</td>
            </tr>
            <th>Features</th>
            <td>
                {% for feature in subject.features %}
                    {{ feature }},
                {% endfor %}
            </td>
        </tbody>
    </table>

{% endblock %}
